@import './styles/_mixins';
@import './styles/_vars';

@import './App.scss';
@import './components/Header/header.scss';
@import './components/BurgerMenu/burgerMenu.scss';
@import './components/Bunner/bunner.scss';
@import './components/Achievement/achievement.scss';
@import './components/Slider/slider.scss';
@import './components/Footer/footer.scss';
@import './components/Accordion/accordion.scss';
@import './components/ContactUs/contactUs.scss';
@import './components/Modal/modal.scss';

* {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
ul,
a,
li,
p,
img {
  margin: 0;
  padding: 0;
}
